github "TextureGroup/Texture" "master"
github "freshOS/Router"
github "freshos/KeyboardLayoutGuide"
github "Daltron/NotificationBanner" "master"
github "eddiekaiger/SwiftyAttributes"
github "hyperoslo/Cache"
github "malcommac/SwiftDate"
github "hyperoslo/Lightbox"
github "nohana/NohanaImagePicker"
github "noppefoxwolf/TextContainerLayoutGuide"
github "ra1028/DifferenceKit"
github "bizz84/SwiftyStoreKit"
github "kishikawakatsumi/KeychainAccess"
github "AliSoftware/Reusable"
